<div class="section">
	<div class="panel panel-default">
		<div class="panel-heading">My Bookings</div>
		<div class="panel-body">
			<div class="form-group col-md-12">
				<label for="departure">PNR :</label> <input type="text"
					class="form-control" id="pnrId" required ng-model="pnrId" />

			</div>

			<div class="col-md-4">
				<button type="button" class="btn btn-info"
					ng-click="searchBooking()" ng-disabled="pnrId == null">Search</button>
			</div>
		</div>
	</div>
	<div class="panel panel-default" ng-if="booking != null">
		<div class="panel-body">

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group col-md-5 text-left">
						<h3>{{booking.flight.departure}}</h3>
					</div>
					<div class="form-group col-md-2 text-center">
						<h3><span class="glyphicon glyphicon-arrow-right"></span></h3>
					</div>
					<div class="form-group col-md-5 text-right">
						<h3>{{booking.flight.destination}}</h3>
					</div>
					
					<div class="col-md-12 text-left">
						<label>{{booking.flight.departureDate | date:'dd/MM/yyyy HH:mm'}}</label>
					</div>
				</div>
			</div>

			<div class="form-group col-md-2">
				<label>Category</label>
				<p>{{booking.seat.category.description}}</p>
			</div>
			<div class="form-group col-md-2">
				<label>Price</label>
				<p>{{booking.price}} $</p>
			</div>
			<div class="form-group col-md-2">
				<label>Seat</label>
				<p>Line {{booking.seat.srow}} - {{booking.seat.scolumn}}</p>
			</div>

		</div>
	</div>
</div>