<div class="section">
	<h3>Seat selection</h3>

	<div class="row">

		<div class="panel panel-default">
			<div class="panel-heading">Flight: {{flightId}}</div>
			<div class="panel-body">
				<div class="form-group col-md-5 text-left">
					<h3>{{flight.departure}}</h3>
				</div>
				<div class="form-group col-md-2 text-center">
					<h3>
						<span class="glyphicon glyphicon-arrow-right"></span>
					</h3>
				</div>
				<div class="form-group col-md-5 text-right">
					<h3>{{flight.destination}}</h3>
				</div>

				<div class="col-md-12 text-left">
					<label>{{flight.departureDate | date:'dd/MM/yyyy HH:mm'}}</label>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<div class="col-md-2 col-md-offset-5">
				<h3>
					<span class="label label-default">Front</span>
				</h3>
			</div>
			<table class="table">

				<tr ng-repeat="row in matrix">
					<td class="col-md-2"><p>Line {{row[0].srow}}</p></td>
					<td ng-repeat="elem in row" class="col-md-1">
						<div class="col-md-12">
							<button type="button" class="btn"
								ng-class="elem.status == 0 ? 'btn-'+categoryList[elem.category.id].color : 'btn-danger' "
								ng-if="elem.id != null" ng-disabled="elem.status == 1"
								ng-click="selectSeat(elem)">{{elem.scolumn}}</button>
							<button type="button" class="btn" ng-if="elem.id == null"
								ng-disabled="true">X</button>
						</div>

					</td>
				</tr>
			</table>

		</div>

		<div class="col-md-4" ng-if="selectedSeat != null">
			<br /> <br />
			<div class="panel panel-default">
				<div class="panel-heading"><label>Basket {{selectedSeat.realPrice}} $</label></div>
				<div class="panel-body">
					<div>
						<div class="form-group col-md-6">
							<label>Category</label>
							<p>{{selectedSeat.category.description}}</p>
						</div>
						<div class="form-group col-md-6">
							<label>Your fares</label>
							<p>{{selectedSeat.realPrice}} $</p>
						</div>
						<div class="form-group col-md-12">
							<label>Seats selected</label>
							<p>Line {{selectedSeat.srow}} - {{selectedSeat.scolumn}}</p>
						</div>
					</div>
					<div>
						<div class="text-center">
							<button type="button" class="btn btn-primary"
								ng-click="bookingMsg()">Booking</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>