<div class="section">
	<form name="form">
		<div class="panel panel-default">
			<div class="panel-heading">CheapAir</div>
			<div class="panel-body">
				<div class="form-group col-md-4">
					<label for="departure">From</label> <select class="form-control"
						id="departure" required ng-model="search.departure">
						<option>Firenze</option>
						<option>Milano</option>
						<option>Roma</option>
					</select>

				</div>

				<div class="form-group col-md-4">
					<label for="destination">To</label> <select class="form-control"
						id="destination" required ng-model="search.destination">
						<option>Firenze</option>
						<option>Milano</option>
						<option>Roma</option>
					</select>

				</div>

				<div class="form-group col-md-4">
					<label for="date">Fly out</label> <input type="date" required
						class="form-control" id="date" ng-model="search.date">
				</div>

				<div class="col-md-4">
					<button type="button" class="btn btn-info"
						ng-click="searchFlights()" ng-disabled="!form.$valid">Show
						Flights</button>
				</div>
			</div>
		</div>
	</form>
	<div class="panel panel-danger" ng-if="dataset.length==0 && showPanel">
		<div class="panel-body">
		<h3><span  class="label label-danger">There are no flights available for your
			chosen day. Try another date.</span ></h3></div>
	</div>
	<div class="panel panel-default" ng-if="dataset.length!=0">

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Departure</th>
					<th>Destination</th>
					<th>Date</th>
					<th>Dep Time</th>
					<th>Booking</th>
				</tr>
			</thead>
			<tr ng-repeat="flight in dataset">
				<td>{{flight.id}}</td>
				<td>{{flight.departure}}</td>
				<td>{{flight.destination}}</td>
				<td>{{flight.departureDate | date:'dd/MM/yyyy'}}</td>
				<td>{{flight.departureDate | date : 'HH:mm' : timezone}}</td>
				<td><button type="button" class="btn btn-info"
						ng-click="goToSeat(flight.id)">Continue</button></td>
			</tr>
		</table>

	</div>
</div>